body {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
}
/***LOGIN BEREICH ***/
#login-submit,
#logout {
  background-color: #42494b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#login-submit:hover,
#logout:hover {
  background-color: #428061;
}
.logincontainer p {
  font-weight: bold;
  font-size: 60px;
}
#login {
  width: 33.3%;
  margin-left: auto;
  margin-right: auto;
}
#login > div {
  height: 450px;
}
#login-username,
#login-password {
  margin-bottom: 8%;
}
input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: 30px;
}
/*** HEADER ***/
#headertpl {
  background-color: #f1f1f1;
  padding: 3.4%;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 3%;
}
#languageselect {
  grid-column-start: 2;
  justify-self: end;
}
.logo p {
  font-family: "Roboto Slab";
  letter-spacing: 7px;
  font-size: 30px;
}
#lang {
  font-weight: bold;
}
/*** FOOTER ***/
#footertpl {
  background-color: #428061;
  width: 100%;
  height: 150px;
  margin-top: 3%;
}
#impressum {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
#footerText {
  padding: 3%;
}
/***LOGOUT***/
#logout {
  text-align: right;
  margin-bottom: 1.5%;
  margin-right: 0%;
  margin-left: 90%;
  margin-top: 1.5%;
}
/*** CITY LIST ***/
#idid {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  padding: 1%;
  margin-left: 5%;
  grid-row-gap: 3%;
}
/*** CITY SINGLE ***/
#singlecitypic {
  width: 60%;
  padding: 1%;
}
#viewTitle {
  padding: 1%;
}
#nick {
  padding: 1%;
}
/***HOTEL SINGLE ***/
#singlehotel {
  width: 80%;
  margin: auto;
  padding: 3%;
}
#hname {
  font-size: 40px;
  font-weight: bold;
  padding: 3px;
}
#haddress,
#contact {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.59);
}
img {
  width: 90%;
  border-radius: 5px;
}
#hdescr {
  margin-top: 2%;
  font-size: 25px;
}
#amenities {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -4%;
  padding: 3%;
}
#amenities span {
  font-size: 35px;
  font-weight: bold;
}
.list-group {
  margin-top: 1.5%;
}
/*** ANDERES ***/
.btn-primary {
  background-color: #428061;
  border: none;
}
